body{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
}

.container header {
    background-color: #222;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
}

.container header input {
    flex: 1;
    border: 0;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3px 10px;
    color: #fff;
    font-size: 1.5em
}

.container header + ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.container header + ul li {
    flex: 0.33;
    border: 1px solid black;
}

.container header + ul li .overview {
    padding: 40px;
}
img {
    min-width: 300px;
    max-width: 419px;
    width: 100%;
    height: 450px;
}
.pagination-container-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.pagination-container {
    display: flex;
    justify-content: center;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    background-color: #000;
    color: #fff;
    margin-left: 8px;
    border-radius: 6px;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid transparent;
}
.page:hover {
    background-color: #fff;
    border: 1px solid black;
    color: #000;
}
.page._active {
    background-color: #fff;
    border: 1px solid black;
    color: #000;
}
